.about__container {
  width: 900px;
  padding-top: 5rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  text-align: justify;

  h2 {
    font-size: var(--title2-size);
    font-weight: 800;
  }

  p {
    max-width: 65%;
    line-height: 1.7rem;
  }
}
