@import url("./globalStyles.scss");

body {
  font-family: "Inter", sans-serif;
  background-color: #000000;
  color: #ffffff;
}

button {
  cursor: pointer;
}

.button-default {
  background-color: var(--color-primary);
  color: #ffffff;
  font-size: var(--label-size);
  font-weight: 600;
  border-radius: var(--radius-button);
  border: none;
  padding: 0.7rem 1.7rem;
}

.button-default:hover {
  background-color: var(--color-primary-hover);
  transform: scale(1.05);
}
